BusinessLogicLayer/Web References/checkDataProfileStatus/checkDataProfileStatus_V2_WSDL.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://eaidev.mobinil.com/MEAI_OnlineServices_2017.webServices.GO" xmlns:soapjms="http://www.w3.org/2010/soapjms/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="checkDataProfileStatus_V2_WSDL" targetNamespace="http://eaidev.mobinil.com/MEAI_OnlineServices_2017.webServices.GO" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://eaidev.mobinil.com/MEAI_OnlineServices_2017.webServices.GO">
      <xsd:element name="checkDataProfileStatus_V2" type="tns:checkDataProfileStatus_V2" />
      <xsd:element name="checkDataProfileStatus_V2Response" type="tns:checkDataProfileStatus_V2Response" />
      <xsd:complexType name="checkDataProfileStatus_V2">
        <xsd:sequence>
          <xsd:element name="checkDataProfileStatus_in" nillable="true" type="tns:checkDataProfileStatus_in" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="checkDataProfileStatus_in">
        <xsd:sequence>
          <xsd:element name="dial" nillable="true" type="xsd:string" />
          <xsd:element name="sourceId" nillable="true" type="xsd:string" />
          <xsd:element name="langId" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="checkDataProfileStatus_V2Response">
        <xsd:sequence>
          <xsd:element name="checkDataProfileStatus_out" nillable="true" type="tns:checkDataProfileStatus_out" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="checkDataProfileStatus_out">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" name="BucketInfo" nillable="true" type="tns:BucketInfo" />
          <xsd:element name="errorDoc" nillable="true" type="tns:errorDoc" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BucketInfo">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="currentBucketId" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="currentBucketName" nillable="true" type="xsd:string" />
          <xsd:element name="IsRnR" nillable="true" type="xsd:string" />
          <xsd:element name="RnRText" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="optionsList" nillable="true" type="tns:optionsList" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="optionsList">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="optionName" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="optionId" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="errorDoc">
        <xsd:sequence>
          <xsd:element name="status" nillable="true" type="xsd:string" />
          <xsd:element name="errorCode" nillable="true" type="xsd:string" />
          <xsd:element name="errorMessage" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="checkDataProfileStatus_V2_WSDL_PortType_checkDataProfileStatus_V2Response">
    <wsdl:part name="parameters" element="tns:checkDataProfileStatus_V2Response" />
  </wsdl:message>
  <wsdl:message name="checkDataProfileStatus_V2_WSDL_PortType_checkDataProfileStatus_V2">
    <wsdl:part name="parameters" element="tns:checkDataProfileStatus_V2" />
  </wsdl:message>
  <wsdl:portType name="checkDataProfileStatus_V2_WSDL_PortType">
    <wsdl:operation name="checkDataProfileStatus_V2">
      <wsdl:input message="tns:checkDataProfileStatus_V2_WSDL_PortType_checkDataProfileStatus_V2" />
      <wsdl:output message="tns:checkDataProfileStatus_V2_WSDL_PortType_checkDataProfileStatus_V2Response" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MEAI_OnlineServices_2017_webServices_GO_checkDataProfileStatus_V2_WSDL_Binder" type="tns:checkDataProfileStatus_V2_WSDL_PortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="checkDataProfileStatus_V2">
      <soap:operation soapAction="MEAI_OnlineServices_2017_webServices_GO_checkDataProfileStatus_V2_WSDL_Binder_checkDataProfileStatus_V2" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="parameters" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MEAI_OnlineServices_2017.webServices.GO.checkDataProfileStatus_V2_WSDL">
    <wsdl:port name="MEAI_OnlineServices_2017_webServices_GO_checkDataProfileStatus_V2_WSDL_Port" binding="tns:MEAI_OnlineServices_2017_webServices_GO_checkDataProfileStatus_V2_WSDL_Binder">
      <soap:address location="http://eaidev.mobinil.com:5555/ws/MEAI_OnlineServices_2017.webServices.GO.checkDataProfileStatus_V2_WSDL/MEAI_OnlineServices_2017_webServices_GO_checkDataProfileStatus_V2_WSDL_Port" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>